/* COLORES */
/* LETRAS */
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  font-family: "Akshar", sans-serif; }

.footer__derechos {
  text-align: center; }

.footer__img {
  width: 4rem;
  height: 4rem; }

.rs {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
  margin-right: 5px; }
  .rs__logo {
    display: flex;
    width: 30px;
    justify-content: flex-end;
    height: 24px;
    margin: 5px; }

.footer__img {
  margin: 10px;
  padding: 0px; }

.footer__img:hover {
  transform: scale(1.1); }

header {
  background-color: black; }

.bg-black {
  background-color: black; }

.nav__color {
  color: white; }

.bg-yellow {
  background-color: #ffcc02; }

.header__img {
  width: 12.5rem;
  height: 12.5rem;
  margin: 20px; }

.header__navegacion {
  display: flex;
  justify-content: space-between; }

* {
  margin: 0px;
  padding: 0px; }

body {
  background-color: #ffcc02; }

h1 {
  margin: 20px; }

.principal {
  display: block;
  margin: 0px auto;
  width: 80%;
  padding: 10px;
  border-radius: 20px; }
  .principal__titulo {
    text-align: center; }
  .principal__link {
    text-align: center;
    text-decoration: none; }

ul {
  display: flex;
  align-items: flex-end;
  list-style-type: none;
  font-family: "Akshar", sans-serif;
  padding: 10px; }

li {
  margin: 5px;
  font-size: 24px;
  color: white; }
  li:hover {
    transform: scale(1.1); }

main {
  font-family: "Akshar", sans-serif; }

/* ACA EMPIEZA PORTAFOLIO */
.portafolio {
  display: flex;
  justify-content: center; }
  .portafolio__img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "uno dos tres" "cuatro cinco seis" "siete ocho nueve";
    gap: 10px; }

.img {
  width: 15.6rem;
  margin: 10px;
  border-radius: 20px; }
  .img:hover {
    transform: scale(1.1); }
  .img__uno {
    grid-area: uno; }
  .img__dos {
    grid-area: dos; }
  .img__tres {
    grid-area: tres; }
  .img__cuatro {
    grid-area: cuatro; }
  .img__cinco {
    grid-area: cinco; }
  .img__seis {
    grid-area: seis; }
  .img__siete {
    grid-area: siete;
    margin-bottom: 15px; }
  .img__ocho {
    grid-area: ocho;
    margin-bottom: 15px; }
  .img__nueve {
    grid-area: nueve;
    margin-bottom: 15px; }

/* ACA EMPIEZA "SERVICIOS" */
.servicios__principal {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "uno dos tres"; }

.serv__uno {
  grid-area: uno; }

.serv__dos {
  grid-area: dos; }

.serv__tres {
  grid-area: tres; }

.servicios__principal {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.titulo__servicios {
  margin-top: 1.25rem; }

.servicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffcc02;
  padding: 10px;
  margin: 2.5rem;
  width: 16.5rem;
  border: 5px solid black;
  border-radius: 10px;
  justify-content: center; }
  .servicios__uno {
    grid-area: uno; }
  .servicios__dos {
    grid-area: dos; }
  .servicios__tres {
    grid-area: tres; }
  .servicios__gral {
    display: flex;
    justify-content: space-around; }

.servicios__cont {
  margin-top: 1.25rem; }

/* ACA EMPIEZA "SOBRE NOSOTROS" */
.sn {
  display: flex;
  align-items: center; }

.img__presentacion {
  display: flex;
  width: 20%;
  padding: 20px;
  border-radius: 2.5rem; }

.img__ceo {
  display: flex;
  flex-direction: column; }

.presentacion {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 4rem; }

/* ACA EMPIEZA "CONTACTENOS" */
.formularios {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; }

input {
  border-radius: 10px;
  height: 1.5rem; }

textarea {
  border-radius: 10px;
  height: 3.1rem; }

.botones__uno:hover {
  transform: scale(1.1); }

.botones__uno {
  width: 4.6rem;
  margin: 0.6rem;
  margin-bottom: 20px; }

.contactenos__uno {
  margin: 10px; }

.fomulario1 {
  margin: 2.5rem; }

.formulario2 {
  margin: 2.5rem; }

.formulario3 {
  margin: 10px; }

.contacto__gral {
  margin-top: 1.8rem; }

.contacto {
  margin-bottom: 1.25rem; }

.contacto__uno {
  font-family: "Akshar", sans-serif;
  font-size: 18px;
  margin-left: 1.8rem; }

@media screen and (max-width: 720px) {
  .portafolio__img {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "uno dos" "tres cuatro" "cinco seis" "siete ocho" "nueve nueve"; }
  footer {
    flex-direction: column; }
  .container-fluid {
    flex-direction: column; }
  .formularios {
    flex-direction: column; }
  .sn {
    flex-direction: column; }
  ul {
    flex-direction: column; }
  li {
    font-size: 18px; }
  .servicios__principal {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "uno dos"  "tres"; }
  .servicios__principal {
    flex-direction: column; } }

@media screen and (max-width: 540px) {
  .portafolio__img {
    grid-template-columns: 1fr;
    grid-template-areas: "uno" "dos" "tres" "cuatro" "cinco" "seis" "siete" "ocho" "nueve"; }
  footer {
    flex-direction: column; }
  ul {
    flex-direction: column; }
  li {
    font-size: 16px; }
  .servicios__principal {
    grid-template-columns: 1fr;
    grid-template-areas: "uno" "dos" "tres"; }
  .servicios__principal {
    flex-direction: column;
    align-items: center; }
  .presentacion {
    margin-bottom: 1.25rem; } }

.img__presentacion {
  width: 20rem; }
