
@media screen and (max-width: 720px) {
    .portafolio__img {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "uno dos"
                            "tres cuatro"
                            "cinco seis"
                            "siete ocho"
                            "nueve nueve";
    }
    footer {
        flex-direction: column;
    }
    .container-fluid {
        flex-direction: column;
    }
    .formularios {
        flex-direction: column;
    }
    .sn {
        flex-direction: column;
    }

ul {
    flex-direction: column;
}

li {
    font-size: 18px;

}

.serviciosBody {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header header"
                        "h1 h1"
                        "uno dos"
                        "tres tres"
                        "footer footer";
}
}

@media screen and (max-width: 540px) {
    .portafolio__img {
        grid-template-columns: 1fr;
        grid-template-areas: "uno"
                            "dos"
                            "tres"
                            "cuatro"
                            "cinco"
                            "seis"
                            "siete"
                            "ocho"
                            "nueve";
    }
    footer {
        flex-direction: column;
}

ul {
    flex-direction: column;
}

li {
    font-size: 16px;

}

.serviciosBody {
    grid-template-columns: 1fr;
    grid-template-areas: "header"
                        "h1"
                        "uno"
                        "dos"
                        "tres"
                        "footer";
}
}
