@import 'variables';
@import 'footer';
@import 'header';

*{
    margin: 0px;
    padding: 0px;
}





body {
    background-color: $color-principal;
}
h1 {
    margin: 20px;
}

.principal {
    display: block;
    margin: 0px auto;
    width: 80%;
    padding: 10px;
    border-radius: 20px;
    &__titulo {
        text-align: center;
    }
    &__link {
        text-align: center;
        text-decoration: none;
    }
}


ul {
    display: flex;
    align-items: flex-end;
    list-style-type: none;
    font-family: $letra-principal;
    padding: 10px;
}

li {
    margin: 5px;
    font-size: 24px;
    color: $color-letra;
    &:hover{
        transform: scale(1.1);
    }
}

main{
    font-family: $letra-principal;
}




/* ACA EMPIEZA PORTAFOLIO */

.portafolio {
    display: flex;
    justify-content: center;
    &__img {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "uno dos tres"
                        "cuatro cinco seis"
                        "siete ocho nueve"; 
        gap: 10px;    
    }
}


.img {
    width: 15.6rem;
    margin: 10px;
    border-radius: 20px;
    &:hover{
        transform: scale(1.1);
    }
    &__uno {
        grid-area: uno;
    }
    &__dos {
        grid-area: dos;
    }
    &__tres {
        grid-area: tres;
    }
    &__cuatro {
        grid-area: cuatro;
    }
    &__cinco {
        grid-area: cinco;
    }
    &__seis {
        grid-area: seis;
    }
    &__siete {
        grid-area: siete;
        margin-bottom: 15px;
    }
    &__ocho {
        grid-area: ocho;
        margin-bottom: 15px;
    }
    &__nueve {
        grid-area: nueve;
        margin-bottom: 15px;
    }
}



/* ACA EMPIEZA "SERVICIOS" */


.servicios__principal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "uno dos tres";
}

.serv__uno {
    grid-area: uno;
}
.serv__dos {
    grid-area: dos;
}
.serv__tres {
    grid-area: tres;
}

.servicios__principal {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.titulo__servicios {
    margin-top: 1.25rem;
}

.servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-principal;
    padding: 10px;
    margin: 2.5rem;
    width: 16.5rem;
    border: 5px solid black;
    border-radius: 10px;
    justify-content: center;
    &__uno{
        grid-area: uno;
    }
    &__dos{
        grid-area: dos;
    }
    &__tres{
        grid-area: tres;
    } 
    &__gral {
        display: flex;
        justify-content: space-around;
    }
}

.servicios__cont {
    margin-top: 1.25rem;
}

/* ACA EMPIEZA "SOBRE NOSOTROS" */

.sn {
    display:flex ;
    align-items: center;
}

.img {
    &__presentacion {
        display: flex;
        width: 20%;
        padding: 20px;
        border-radius: 2.5rem;
    }
    &__ceo {
        display: flex;
        flex-direction: column;
    }
}

.presentacion {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 4rem;
}



/* ACA EMPIEZA "CONTACTENOS" */

.formularios {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    border-radius: 10px;
    height: 1.5rem;
}

textarea {
    border-radius: 10px;
    height: 3.1rem;
}

.botones__uno:hover {
    transform: scale(1.1);
}

.botones__uno {
    width: 4.6rem;
    margin: 0.6rem;
    margin-bottom: 20px;
}

.contactenos__uno {
    margin: 10px;
}

.fomulario1 {
    margin: 2.5rem;
}

.formulario2 {
    margin: 2.5rem;
}

.formulario3 {
    margin: 10px
}

.contacto__gral {
    margin-top: 1.8rem;
}

.contacto {
    margin-bottom: 1.25rem;
}
.contacto__uno {
    font-family: $letra-principal;
    font-size: 18px;
    margin-left: 1.8rem;
}



@media screen and (max-width: 720px) {
    .portafolio__img {
        grid-template-columns: 1fr 1fr ;
        grid-template-areas: "uno dos"
                            "tres cuatro"
                            "cinco seis"
                            "siete ocho"
                            "nueve nueve";
    }
    footer {
        flex-direction: column;
    }
    .container-fluid {
        flex-direction: column;
    }
    .formularios {
        flex-direction: column;
    }
    .sn {
        flex-direction: column;
    }

ul {
    flex-direction: column;
}

li {
    font-size: 18px;

}

.servicios__principal {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "uno dos" 
                        "tres";
}
.servicios__principal {
    flex-direction: column;
}
}

@media screen and (max-width: 540px) {
    .portafolio__img {
        grid-template-columns: 1fr;
        grid-template-areas: "uno"
                            "dos"
                            "tres"
                            "cuatro"
                            "cinco"
                            "seis"
                            "siete"
                            "ocho"
                            "nueve";
    }
footer {
        flex-direction: column;
}

ul {
    flex-direction: column;
}

li {
    font-size: 16px;

}

.servicios__principal {
    grid-template-columns: 1fr;
    grid-template-areas:"uno"
                        "dos"
                        "tres";
}



.servicios__principal {
    flex-direction: column;
    align-items: center;
}

.presentacion {
    margin-bottom: 1.25rem;
}
}

.img__presentacion {
    width: 20rem;
}

